.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.container {
  position:relative;
}
.banner {
  width: 100%;
}
.imgArea {
  border:white dashed 1px;
  position:absolute;
  color: white;
  background: rgba($color: pink, $alpha: 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 38px;
  &::after{
      display: block;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 8px 8px;
      border-color: transparent transparent #f2f6fa transparent;
      right: 0;
      bottom: 0;
      cursor: se-resize;
  }
  .close{
      font-size: 10px;
      position:absolute;
      right:2px;
      top:0;
      width: 8px;
      height:8px;
      color:white;
      cursor: pointer;
  }
}
.form {
  font-size:12px;
  width: 100%;
  .form-row {
    display: flex;
    margin: 8px 0;
    align-items: center;
    .form-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      white-space: nowrap;
      margin: 0 5px;
      .label {
          margin-right: 10px;
      }
    }
  }
}
.el-icon-delete{
  cursor: pointer;
  &:hover {
      color:royalblue;
  }
}
