.flex-justify-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-justify-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
